.navbar_band { 
    height: 51px;
    width: 100%;
    animation: rainbowtransition 10s ease-in-out infinite;
}

.btn-logout{

    position: absolute;
    right: 21px;
    padding-top: 6px !important;

}

.button-container{
     padding-top: 6px;
}

@keyframes rainbowtransition {
    0% {
        background-color: #ffb3b3; // Pastel Red
    }
    16% {
        background-color: #ffd9b3; // Pastel Orange
    }
    33% {
        background-color: #ffffb3; // Pastel Yellow
    }
    50% {
        background-color: #b3ffb3; // Pastel Green
    }
    66% {
        background-color: #b3b3ff; // Pastel Blue
    }
    83% {
        background-color: #e6b3ff; // Pastel Purple
    }
    100% {
        background-color: #ffb3b3; // Back to Pastel Red
    }
}