.navbar_band { 
    height: 51px;
    width: 100%;
    background-color: #f1f2f5;
}

.btn-logout{

    position: absolute;
    right: 21px;

}

.button-container{
     padding-top: 6px;
}


.header{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.title{
    padding-top: 13px;
    font-size: 21px;
}