.login_background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem;
    background: red;
    width: auto;
}

.login_form{
    height: 71%;
    width: 44%;
    background: #dbaeae;
}

